:root {
    --bg-img: url('../src/img/fb2f655ee3f15405c5e5bee7c6aa9995.gif');
    --blend-mode: none;    
    --screen-color: none;
    --hover-color: blue;
}

body {
    font-size: 16px;
    background-position: top;
    font-family: Helvetica;
    
    background-image: var(--bg-img);
    background-color: var(--screen-color) !important;   
    background-blend-mode: var(--blend-mode) !important;
}

.app-title {
    font-size: 3.5rem;
    position: fixed;
    top: 20vh;
    left: 12%;
    transform: skewY(1.4deg);
    letter-spacing: 3px;
    font-family: 'Pacifico', cursive;
    animation: fadeIn 3s;
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;    
}

.fancyfont {
    font-family: 'Pacifico',cursive;
}

.welc-txt {
    margin-bottom: 3rem;
}

.login-form {
    width: 40%;
    margin: 8% auto;
    padding: 5%;
    background-color: rgba(2, 2, 2, 0.6);    
    font-weight: 700;
    color: white;
}

.form-control.login-form {
    margin-top: 0.5rem;
}

.login-form .btn {
    margin-top: 1rem;
}


/* home screen */
.welcometext {
    font-size: 1.8rem;
    position: fixed;
    top: 33%;
    left: 45%;
    transform: translateX(-50%) translateY(-45%);
    transform: skewY(-12.5deg);
    width: 45%;
    animation: fadeIn 3s;
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;    
}

.welcometext h2 {
    animation: fadeIn 2s;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    font-size: 2.2rem;
}

.try-btn {
    margin-top: 2rem;
    box-shadow: 1px 1px 5px 2px #000;
    float: right;
}

.sq-menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
}

.menubox {
    padding: 0.3rem 2rem;
    width: 33.33%;    
    margin: 1rem;
    background-color: rgba(193, 201, 124, 0.651);
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    color: rgb(150, 108, 19);
    box-shadow: 4px 3px 5px rgb(82, 81, 81);
    transition: .2s all;
    animation: inLeft 1s;
    -webkit-animation: inLeft 1s;
    -moz-animation: inLeft 1s;    
}

.menubox i {
    font-size: 4rem;
    display: block;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none !important;
}

.menubox:hover {
    transform: translateY(-4px);
    color: var(--hover-color);
    cursor: pointer;
}

.tooltip:hover~.menubox {
    display: inline;
}

.pitch-box {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    background-color: rgba(79, 109, 99, 0.37);
    width: 50%;
    position: absolute;
    top: 30%;
    left: 20%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #444444;
    transform: translateX(-20%);
    transform: translateY(-30%);
    animation: fadeIn 2s;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;    
}

.loader {
    float: right;
    border: 12px solid #f3f3f3;
    /* Light grey */
    border-top: 12px solid skyblue;
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 3s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pitch-box .btn {
    float: right;
    margin: 5px;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    font-size: 1.5rem;
}

.profile-box {
    font-family: Arial,
    Helvetica,
    sans-serif;
    letter-spacing: 1.5px;
    background-color: rgba(113, 121, 122, 0.479);
    width: 50%;
    position: absolute;
    top: 30%;
    left: 20%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #444444;
    transform: translateX(-20%);
    transform: translateY(-30%);
    animation: fadeIn 2s;
    display: table;
    vertical-align: middle;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
}

.profile-title {
    text-align: center;
    margin-top: 2rem;
    vertical-align: top;
    display: table-cell;
}

.profile-avatar {
    display: table-cell;
    float: right;
}

.star-rating {
    color: rgb(44, 44, 44);
    position: absolute;
    font-size: 4rem;
    left: 10%;
    bottom: 0;
}

.info-box {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    background-color: rgba(18, 137, 167, 0.733);
    width: 50%;
    position: absolute;
    top: 50%;
    left: 22%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #444444;
    transform: translateX(-22%);
    transform: translateY(-50%);
    animation: fadeIn 2s;
    display: table;
    vertical-align: middle;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
}

.img-container {
    position: relative;
}

.info-title {
    color: white;
    position: absolute;
    font-size: 5rem;
    top: 50%;
    left: 25%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    text-align: center;
    text-shadow: 2px 2px 5px #000;
}

.info-gif {
    width: 100%;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

.info-sub {
    padding: 1rem;
    color: white;
    text-align: center;
}

@keyframes inLeft {
    from {
        opacity: 0;
        margin-left: 0;
    }

    to {
        opacity: 1;
        margin-left: 1rem
    }
}

@-webkit-keyframes inLeft {
    from {
        opacity: 0;
        margin-left: -2rem;
    }
    to {
        opacity: 1;
        margin-left: 1rem
    }
}

@-moz-keyframes inLeft {
    from {
        opacity: 0;
        margin-left: -2rem;
    }
    to {
        opacity: 1;
        margin-left: 1rem
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}